/* Responsive */
@media screen and (max-width:576px){
    body{
        padding: 10px;
    }
    .navcontainer{
        margin: 10px;
        padding-top:1%;
    }
    .navoptions{
        display: none;
    }
    .navmenu img{
        width: 35px;
        height: 35px;
        margin-right: 15px;
    }
    .navmenu h3{
        font-size: 1.5rem;
        font-weight: 800;
        line-height: normal;
        letter-spacing: normal;
    }
    .humbar{
        display: inline;
    }
    .containar{
        width: 100%;
    }
    .Explore-travel{
        padding: 1rem 1rem;
    }
    .Explore-travel h3 {
        font-size: 2rem;
    }
    .Explore-travel p{
        width: 100%;
        line-height: normal;
    }
    .inputs{
        width: 90%;
        flex-direction: column;
        margin: 0 auto;
        padding: 1.5rem 1rem;
        gap: 25px;
        
    }
    input{
        width: 92%;
    }
select{
    width: 100%;

}
.btn-primary{
    width: 100%;
    font-size: 1.5rem;
    
}
.contain{
    width: 100%;
    flex-direction: column;
    gap: 5rem;
}
.our-popular{
    width: 100%;
}
.hide{
    width: 200px;
}
.contain{
    width: 100%;
    grid-template-columns: 1fr;
}
.our-popular{
    width: 100%;
}

.our-popular h3{
    font-size: 2rem;
}
.our-popular p{
    font-size: 14px;
}
.sun-image{
    width: 100%;
}
/* choose your destination */
.destination-container{
    width: 100%;
}
.choose-your-destination{
    text-align: center;
    padding-top: 2rem ;

}
.choose-your-destination h3{
    font-size: 1.5rem;
    font-weight: 800;
    line-height: normal

}
.choose-your-destination p{
    font-size: 16px;
    font-weight: 200;
    line-height: normal;
}
.section-card,
.section-card0,
.section-card1{
    grid-template-columns: 1fr;
}
/* who choose responsive */
.chosse_one_container{
    width: 100%;
}
.choose-us h3{
    font-size: 1.5rem;
}
.choose-us p{
    font-size: 14px;
    padding: 0;
}
.card{
    flex-direction: column;
}
.card>.card1,
.card>.card2{
   width: 100%;
}
.card0>.card3{
    width: 100%;
}
/* deals&discounts-responsive */
 
}












