@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playwrite+CU:wght@100..400&display=swap');

body{
    font-family: "Mulish", sans-serif;

}
*{
    margin: 0;
    padding: 0;

}
/* common-styles */
.span{
    color: rgb(255, 84, 0);
}
.darak02{
    color: rgb(66, 66, 71);
}
.hide{
    margin-top: 2rem;
}
/* navbar-styles */
.navcontainer{
    width: 90%;
    display: flex;
    margin: 0% auto;
    padding-top: 3%;
    justify-content: space-between;
    align-items: center;
}
.navmenu{
    display: flex;
    align-items: center;
}
.navmenu img{
    width: 48px;
    height: 48px;
    margin-right: 15px;
}
.navmenu h3{
    font-size: 2rem;
    font-weight: 800;
    line-height: normal;
    letter-spacing: normal;
}
.navoptions{
    display: flex;
    justify-content:space-around;
    gap: 4rem;
} 
.navoptions p{
    font-size: 1.2rem;
    font-weight: 700;
    line-height:23px;
    letter-spacing: normal;
 
}
.humbar{
    display: none;
}
/* Banner */
.containar{
    width: 90%;
    /* border: 1px solid rebeccapurple; */
    margin: 5% auto;
    background-image:linear-gradient(180deg,rgba(19,19,24,0.8)0%,
    rgba(19,19,24,0)100%),url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    text-align: center;
  
} 
.Explore-travel{
    /* display: flex; */
    padding: 5rem 5rem;
    justify-content: center;
    align-items: center;
} 
.Explore-travel h3{
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    line-height: normal;
    letter-spacing: normal;
    color: white;
}
.Explore-travel p{
    width: 676px;
    margin: 0% auto;
    padding: 1.5rem 0rem;
    text-align: center;
    font-size: 1rem;
    font-weight:400;
    line-height: 23px;
    color: rgba(234, 235, 236, 0.945);
 
}
.inputs{
    width: 60%;
    margin: 2% auto;
    padding: 1.5rem 2rem;
    background-color: rgba(255,255,255,0.2);
    display: flex;
    gap: 40px;
    border-radius: 8px;
    backdrop-filter: blur(4px);
}

input{
 
    width: 120px;
    height: 50px;
    border: none;
    padding: 0rem 1rem;
    border-radius: 8px;
    font-size: 1rem;
}
select{
   
    width: 140px;
    height: 50px;
    border: none;
    padding: 0rem 1rem;
    border-radius: 8px;
    font-size: 1rem;
    color: grey;
}
.btn-primary{
    background-color:  rgb(255, 84, 0);
    width: 140px;
    padding: 1rem 1rem;
    border-radius: 8px;
    border: none;
    gap: 15px;
    font-size: 1rem;
    color: white;
}


/* Our-popular-travel-styles */
.contain{
    width: 90%;
    margin: 0% auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12.5rem;
   
}
.our-popular{
    width: 500px;
}
.our-popular h3{
    font-size: 3rem;
    font-weight: 800;
    color: black;

}
.our-popular p{
    font-size: 1.2rem;
    text-align: justify;
    color: grey;
    font-weight:normal;
    line-height: normal;
    letter-spacing: 1px;
}
.our-popular li{
    font-size: 1rem;
    color: grey;
    padding: 1rem 2rem;
    text-align: justify;
    font-weight:normal;
    line-height: normal;
    letter-spacing: 1px;

}
.img >img{
    width: 100%;
}
/* choose your destination */
.destination-container{
    width: 90%;
    margin:  0 auto;
}
.choose-your-destination{
    text-align: center;
    padding-top: 3rem ;

}
.choose-your-destination h3{
    font-size: 2rem;
    font-weight: 800;
    line-height: normal

}
.choose-your-destination p{
    font-size: 16px;
    font-weight: 200;
    line-height: normal;
}
.destination-container img{
    width: 100%;
    height: 240px;
    filter: brightness(70%);
}
 .section-card,
 .section-card0,
 .section-card1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 1.2rem 0rem;

} 
.section-card0{
    grid-template-columns: 0.8fr 1.2fr 0.7fr;
}
.section-card1{
    grid-template-columns: 1.2fr 1.5fr;
}
.country-card{
    position: relative;
}
.country{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 24px;
    color: whitesmoke;
    transform: translate(-50%,-50%);
 }  
/* chosse_one_container-styles */
.chosse_one_container{
    width: 90%;
    margin: 0% auto;
}
.chosse-us h3{
    padding: 1.2rem 0rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    color: black;

}
.chosse-us p{
    padding: 0.8rem 0rem;
    text-align: center;
    font-size:18px;
    
    color: grey;

}
.chosse_one_container>.card,
.chosse_one_container>.card0{
    width: 100%;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card >.card1,
.card >.card2{
    width: 45%;
    margin: 0% auto;
    border: 1px solid rebeccapurple;


}
.card0>.card3{
    width: 45%;
    margin: 0% auto;
    border: 1px solid rebeccapurple;
    margin-top: 20px;
 
}
.card1{
    box-sizing: border-box;
    border-radius: 16px;
    border: 1px solid rgb(247, 242, 178);
    background-color: rgba(155, 173, 143, 0.5);
}
.card2{
    box-sizing: border-box;
    border-radius: 16px;
    border: 1px solid rgb(141, 106, 77);
    background-color: rgba(167, 147, 105, 0.5);
}
.card3{
    box-sizing: border-box;
    border-radius: 16px;
    border: 1px solid rgb(146, 106, 133);
    background-color: rgba(175, 157, 170, 0.5);
}
.card1 img,
.card2 img,
.card3 img{
    width: 4%;
    padding: 1rem 2.5rem;

}
.card1 h3,
.card2 h3,
.card3 h3{
    font-size: 2rem;
    color: black;
    padding: 1rem 2.5rem;
}
.card1 p,
.card2 p,
.card3 p{
    font-size: 18px;
    color: grey;
    padding: 1rem 2.5rem;

}
/* deals-disounts-container */
.deals_discounts_container{
    width: 90%;
    margin: 0% auto;
}
.deals_discounts{
   text-align: center;
   padding: 2rem;
}
.deals_discounts h3{
    font-size: 2rem;
    font-weight: 900;
    color: black;

}
.deals_discounts p{
    font-size: 16px;
    font-weight: normal;
    color: grey;
}
.discounts_card-1 >img,
.discounts_card-2 >img,
.discounts_card-3 >img{
    width: 100%;
    padding-bottom: 3rem;
  
}
.discounts_card-1{
    position: relative;

}
.join{
    font-size: 24px;
    color: rgb(65, 64, 64);
}
.booking-card1{
    width: 50%;
    height: 300px;
    box-sizing: border-box;
    background: whitesmoke;
    filter: blur(5%);
    position: absolute;
    top: 20%;
    left: 45%; 
    border-radius: 18px;
    padding-top: 1%;
   
}
.booking-card1 h3{
    font-size: 2rem;
    font-weight: bold;
    padding-left: 3rem;



}
.booking-card1 p{
    font-size: 18px;
    font-weight: 400;
    padding-left: 3rem;
}
.booking-card1 h2{
    font-size: 28px;
    font-weight: 400;
    padding-left: 3rem;
    padding-bottom: 2rem;
    color: rgb(255, 84, 0);
    

}
.book_now{
    background-color:  rgb(255, 84, 0);
    width: 140px;
    margin-left: 3rem;
    margin-bottom: 3rem;
    padding: 1rem 1rem;
    border-radius: 8px;
    border: none;
    gap: 15px;
    font-size: 1rem;
    color: white;
}
/* discounts-card-2 */
.discounts_card-2{
    position: relative;

}
.join{
    font-size: 24px;
    color: rgb(65, 64, 64);
}
.booking-card2{
    width: 50%;
    height: 300px;
    box-sizing: border-box;
    background: whitesmoke;
    filter: blur(5%);
    position: absolute;
    top: 20%;
    left: 45%; 
    border-radius: 18px;
    padding-top: 1%;
   
}
.booking-card2 h3{
    font-size: 2rem;
    font-weight: bold;
    padding-left: 3rem;



}
.booking-card2 p{
    font-size: 18px;
    font-weight: 400;
    padding-left: 3rem;
}
.booking-card2 h2{
    font-size: 28px;
    font-weight: 400;
    padding-left: 3rem;
    padding-bottom: 2rem;
    color: rgb(255, 84, 0);
    

}
.book_now{
    background-color:  rgb(255, 84, 0);
    width: 140px;
    margin-left: 3rem;
    margin-bottom: 3rem;
    padding: 1rem 1rem;
    border-radius: 8px;
    border: none;
    gap: 15px;
    font-size: 1rem;
    color: white;
}
/* booking-card3 */
.discounts_card-3{
    position: relative;

}
.join{
    font-size: 24px;
    color: rgb(65, 64, 64);
}
.booking-card3{
    width: 100%;
    /* height: 300px; */
    box-sizing: border-box;
    background: whitesmoke;
    filter: blur(5%);
    position: absolute;
    top: 20%;
    left: 45%; 
    border-radius: 18px;
    padding-top: 1%;
   
}
.booking-card3 h3{
    font-size: 2rem;
    font-weight: bold;
    padding-left: 3rem;



}
.booking-card3 p{
    font-size: 18px;
    font-weight: 400;
    padding-left: 3rem;
}
.booking-card3 h2{
    font-size: 28px;
    font-weight: 400;
    padding-left: 3rem;
    padding-bottom: 2rem;
    color: rgb(255, 84, 0);
    

}
.book_now{
    background-color:  rgb(255, 84, 0);
    width: 140px;
    margin-left: 3rem;
    margin-bottom: 3rem;
    padding: 1rem 1rem;
    border-radius: 8px;
    border: none;
    gap: 15px;
    font-size: 1rem;
    color: white;
}
